.gallery{
    display: flex;
    justify-content: center;
    &__item{
        &:not(:last-child){
            border-right: .1rem solid $color-white;
        } 
    }
    &__photo{
        width: 100%;
        max-height: 50vh;
        display: block;
        
    }
}
.overview{
    display: flex;
    align-items: center;
    background-color: $color-white;
    border-bottom: 3px solid $color-grey-light-2;
    &__heading{
        padding: 1rem 3rem;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .4rem;
    }
    &__group {
        display: flex;
        margin-right: auto;
        align-items: center;
    }
    &__stars{
        display: flex;
        
    }
    &__icon{
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
    }
    &__location{
        display: flex;
        font-size: 1.4rem;

    }
    &__rating{
        background-color: $color-primary;
        color: $color-white;
        padding: 0 3rem;
        font-weight: 100;
        text-align: center;
        align-self: stretch;
        margin-left: 1.5rem;
    }
    &__rating-average{
        font-size: 3rem;
    }
    &__rating-count{
        font-size: 1.5rem;
        margin-top: -1rem;
    }
}